:root {
  --brand-color: #2196f3;
  --main-text-color: #212121;
  --pure-white-color: #ffffff;
  --darker-white-color: #ffffff99;
  --pure-black-color: #000000;
  --light-gray-color: #757575;
  --button-grey-color: #f5f4fa;
  --tymczasowe-tlo-color: #857070;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.web-studio-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: var(--tymczasowe-tlo-color);
  text-decoration: none;
  color: var(--brand-color);
}
.studio-black {
  color: var(--pure-black-color);
}
.studio-white {
  color: var(--pure-white-color);
}
.navigation-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  list-style-type: none;
}

.navigation-links a:hover,
.navigation-links a:focus {
  color: var(--brand-color);
}
.navigation-links a {
  text-decoration: none;
  color: var(--main-text-color);
}
.light-gray {
  color: var(--light-gray-color);
}
.darker-white {
  color: var(--darker-white-color);
  background-color: var(--tymczasowe-tlo-color);
}
.contact-links {
  list-style-type: none;
}
.contact {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.no-underline {
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: var(--brand-color);
}
.city {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--pure-white-color);
  /* tymczasowe tlo miasta */
  background-color: var(--tymczasowe-tlo-color);
}
.headline h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--pure-white-color);
  /* tymczasowe tlo h1 */
  background-color: var(--tymczasowe-tlo-color);
}
.headline button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
}
.headline span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  letter-spacing: 0.06em;

  color: var(--pure-white-color);
}
.advantages-list {
  list-style-type: none;
}
.advantages h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}
.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--light-gray-color);
}
.what-we-do h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.team {
  list-style-type: none;
}
.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.employment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;

  color: var(--light-gray-color);
}

.portfolio-filters {
  list-style-type: none;
}
.portfolio-filters button:hover,
.portfolio-filters button:focus {
  background-color: var(--brand-color);
  color: var(--pure-white-color);
}
.portfolio-filters button {
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;

  background: var(--button-grey-color);
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.services {
  list-style-type: none;
}
.service-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--main-text-color);
}
.service-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--light-gray-color);
}
