:root {
  --brand-color: #2196f3;
  --main-text-color: #212121;
  --pure-white-color: #ffffff;
  --darker-white-color: #ffffff99;
  --pure-black-color: #000000;
  --light-gray-color: #757575;
  --button-grey-color: #f5f4fa;
  --tymczasowe-tlo-color: #857070;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-general {
  display: flex;
  /* max-width: 1200px; */
  justify-content: flex-start;
  gap: 50px;
  padding: 0;
  border-bottom: 1px solid #ececec;
  align-items: center;
  height: 80px;
}

.nav-flex {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  gap: 1;
  /* flex: 1; */
}

.logo-nav {
  display: flex;
  align-items: center;
  padding-left: 15px;
  flex: 1;
}

.web-studio-logo,
.web-studio-logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brand-color);
}

.navigation {
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.14;
  text-decoration: none;
  padding: 0;
  color: #212121;
  display: flex-start;
  flex: 1;
  gap: 35px;
  justify-content: flex-start;
  margin-left: 93px;
}

.ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 30px;
}

.studio-black {
  color: var(--pure-black-color);
}
.studio-white {
  color: var(--pure-white-color);
}
.navigation {
  list-style-type: none;
}
.navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.order {
  display: flex;
  padding-left: 252px;
  padding-right: 252px;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.headline h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--pure-white-color);
  padding-top: 109px;
  flex-wrap: wrap;
  margin: 0;
  text-align: center;
}

.button-flex {
  margin-bottom: 104px;
  padding-top: 30px;
  text-align: center;
}

.logo-footer-flex {
  display: block;
  padding-right: 15px;
  padding-top: 60px;
}

.section {
  padding: 94px 0;
}

.section .main {
  color: var(--pure-white-color);
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 0;
}

.header {
  background: #2f303a;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation a:hover,
.navigation a:focus,
.contact:hover,
.contact:focus {
  color: var(--brand-color);
}
.navigation a {
  text-decoration: none;
  color: var(--main-text-color);
}
.light-gray {
  color: var(--light-gray-color);
}
.darker-white {
  color: var(--darker-white-color);
}
.contact-links-flex {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-flow: row nowrap;
  /* justify-content: flex-end; */
  list-style: none;
  padding-right: 27px;
}

.contact-links {
  display: block;
  align-items: center;
  gap: 50px;
  flex-flow: row nowrap;
  list-style: none;
  padding-right: 27px;
  padding-left: 0;
}
.contact {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.no-underline {
  text-decoration: none;
}

.city {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--pure-white-color);
}
.headline h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--pure-white-color);
}

.order-button {
  width: 200px;
  height: 50px;
  background: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--pure-white-color);
  box-shadow: 0px 4px 4px #212121;
}
.advantages-list {
  list-style-type: none;
}
.ul h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}
.ul p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--light-gray-color);
}

.flex-main {
  background: var(--pure-white-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 30px;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0;
  color: var(--main-text-color);
}
.main-content-flex {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
}

.team-photos {
  list-style-type: none;
}
.team-content h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.team-content {
  background: #f5f4fa;
}

.team-card {
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
}
.header-john-doe {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-top: 30px;
  /* margin-bottom: 59px; */
}
.job-position {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  padding-bottom: 30px;
}

.menu-portfolio {
  padding-bottom: 50px;
}
.ul-portfolio {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.ul-portfolio-button {
  display: block;
  padding: 6px 24px;
}

.all,
.pages,
.apps,
.design,
.marketing {
  font-size: 1rem;
  line-height: 1.62;
}

.button-type {
  font-size: 1rem;
  line-height: 1.87;
  color: #757575;
  padding: 4px 24px 20px 24px;
}
.button {
  background: #f5f4fa;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #2196f3;
  color: #ffffff;
}
.main-portfolio {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}

.li-flex {
  width: calc((100%- 2 * 30px) / 3);
  vertical-align: center;
}

.img-portfolio {
  vertical-align: middle;
}

.li-description {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.caption {
  padding-top: 20px;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
}
.footer {
  background-color: #2f303a;
  margin: 0 auto;
  height: 252px;
}
